* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hotToast {
  font-family: 'Satoshi', sans-serif;
  font-size: 16px;
  letter-spacing: 0.25px;
  font-weight: 600;

  div {
    div {
      border-radius: 8px;

      div {
        border-radius: 24px;
      }
    }
  }
}